{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<body>
<form action="/createcert"  method = "post" enctype="multipart/form-data">
<div class="container">
  <br></br>
  <h2 class="text-center">Create a Certificate Signed By Your Own CA</h2>
  <br></br>
  <div class="row">
    <div class="col">
      <p class="column-name">Enter the details for the certificate you would like to create and sign:</p>
      <br>
      <label for="cert_file_name">What file name should I use for your certificate file? I'll append .pem and .key to the name for you:</label><br>
      <input type="text" id="cert_file_name" name="cert_file_name" value="my-Server-Name" required><br>

      <br>
      <label for="cert_c">Certificate country:</label><br>
      <input type="text" id="cert_c" name="cert_c" value="US" required><br>
      
      <br>
      <label for="cert_st">Certificate state:</label><br>
      <input type="text" id="cert_st" name="cert_st" value="Minnesota" required><br>
      
      <br>
      <label for="cert_l">Certificate city:</label><br>
      <input type="text" id="cert_l" name="cert_l" value="Bloomington" required><br>
      
      <br>
      <label for="cert_o">Certificate organization:</label><br>
      <input type="text" id="cert_o" name="cert_o" value="Certs" required><br>
      
      <br>
      <label for="cert_ou">Certificate organizational unit:</label><br>
      <input type="text" id="cert_ou" name="cert_ou" value="CertsOU" required><br>
      
      <br>
      <label for="cert_cn">Certificate subject name:</label><br>
      <input type="text" id="cert_cn" name="cert_cn" value="My-Server-Name" required><br>
            
      <br>
      <label for="cert_ip">IP Address:</label><br>
      <input type="text" id="cert_ip" name="cert_ip" value="127.0.0.1" required><br>
            
      <br>
      <label for="cert_dns">DNS Name:</label><br>
      <input type="text" id="cert_dns" name="cert_dns" value="localhost" required><br>
    </div>

    <div class="col">
      <p class="column-name">Choose the CA key and certificate you will use to sign your new certificate. <strong>Usually this would be your intermediate certificate authority.</strong></p>
      <br><br><br>
      <label for="intermediate_ca_key">Select the CA key file to use to sign your certificate:</label><br>
      <input type="file" id="intermediate_ca_key" name="intermediate_ca_key" />
      <br><br><br>
      <label for="intermediate_ca_pem">Select the CA cert (pem) file to use to sign your certificate:</label><br>
      <input type="file" id="intermediate_ca_pem" name="intermediate_ca_pem" />
    </div>

    <div class="col">
      <p class="column-name">If you have a <strong>root CA</strong> as well (which signed your intermediate CA), please upload it's certificate (pem file) here.</p>
      <br><br><br>
      <label for="root_ca_pem">Select the Root (pem) file that signed your Intermediate CA:</label><br>
      <input type="file" id="root_ca_pem" name="root_ca_pem" />

      <br><br><br><br><br><br><br><br>
      <p>After you have provided details for your certificate and selected your CAs, click:</p>
      <input type = "submit" value="Create My Certificate">

    </div>
  </div>


</div>
</form>
</body>
{% endblock %}
